
div {
    font-size: 1em;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    @apply capitalize font-serif italic border-b-2 border-gray-400
}

h1 {
    font-size: 2em;
}


h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}


pre {
    @apply  max-md:leading-3;
    
}

p {
    @apply px-2 py-1 mx-2
}