@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    display: grid;
    grid-template-columns: 1fr;
    
}

html {
    @apply bg-fade-300 text-white

}

.drawer {
    @apply   fixed top-0 left-0 h-screen  z-10; 
}


@media  (min-width: 768px) {
    .layout {
        display: grid;
        grid-template-columns: minmax(200px , 1fr) 3fr minmax(200px , 1fr) ;
        grid-template-rows: auto 1fr ;
        grid-template-areas: 
            "header header header"
            "drawer main side" ;
        z-index: 2 ;
    }

    .header {
        grid-area: header;
        z-index: 10 ; ;
    }
    
    .main {
        grid-area: main;
    }

    .side {
        grid-area: side;
    }
    .drawer {
        grid-area: drawer;
        @apply    z-[1];
        position: sticky;
        

    }

}