@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    display: grid;
    grid-template-columns: 1fr;
    
}

html {
    @apply bg-fade-300 text-white

}

.drawer {
    @apply   fixed top-0 left-0 h-screen  z-10; 
}

.pre-wrapper {
    overflow-x: auto; /* To enable horizontal scrolling if the content overflows */
    max-width: 100%; /* To prevent the <pre> from taking more space than the available width */

}



@media  (min-width: 768px) {
    .layout {
        display: grid;
        grid-template-columns: 2fr 8fr 2fr ;
        grid-template-rows: auto 1fr ;
        grid-template-areas: 
            "header header header"
            "drawer main side" ;
        z-index: 2 ;
        width: 100vw;
    }

    .header {
        grid-area: header;
        z-index: 10 ; ;
    }
    
    .main {
        grid-area: main;
    }

    .side {
        grid-area: side;
    }
    .drawer {
        grid-area: drawer;
        @apply    z-[1];
        position: sticky;
        

    }

}